<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>


<body style="background-color:rgb(109, 148, 148);">
  
  <img src="https://homepageonline.co.uk/wp-content/uploads/2018/11/click-homepage-online-estate-agents-ni-limavady-derry-londonderry-property-sales-logo-850x264.jpg" alt="Mountain" style="width:400px" width="460"  >
<br><br><br>
  <p>Hello, Thank you for visiting my site. I am very pleased to present my profile through this site. Please navigate to the top of the page to know more about me.  </p> 
  <p>I am a Computer Science Student and the mission of the Computer Science program is to prepare students to be research and development leaders in computer science</p>
   and computer technology. To this end, the program is a catalyst and a resource for shaping the future of the broad discipline of computer science.
   <br><br><br>



<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>

