<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>

<body style="background-color:rgb(109, 148, 148);">
    <h1>Projects</h1>
     <p>Welcome to my Projects Page</p>
  <p>These are some highligh projects you might have a look on it: </p>
  <ul>
    <li>Web Applicant projects</li>
    <li>"For reference only"</li>
  
    </ul>
    <p></p>
    <ul>
    <li>
    <p>Nutrion pages of McDonald:</p>
    <a href="https://www.mcdonalds.com/ca/en-ca/about-our-food/nutrition-calculator.html"><img  src="https://s7d1.scene7.com/is/image/mcdonalds/Category-HappyMeal:nutrition-calculator-tile-desktop" alt="Mountain" style="width:300px" width="460"  ></a>
    <br><br>
    </li>
  
   <li>
   <p>Promotions pages:</p>
    <a href="https://www.mcdonalds.com/ca/en-ca/deals-and-promotions.html"><img  src="https://www.mcdonalds.com/content/dam/sites/ca/nfl/feature-callout/en/CoffeePairing22-EN-promo.jpg" alt="Mountain" style="width:400px" width="1460"  ></a><br><br><br>
  </li>
  
  <li>
   <p>Rewards:</p>
    <a href="https://www.mcdonalds.com/ca/en-ca/getmoremcds/mymcdonaldsrewards.html"><img  src="https://s7d1.scene7.com/is/image/mcdonalds/loyalty2021-generic-carousel-dt-EN:accessible-carousel-desktop" alt="Mountain" style="width:400px" width="1460"  ></a><br><br>
  </li>
  </ul>
  </body>
     
<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%> 


