<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>

  <body style="background-color:rgb(109, 148, 148);">
  <h1>Projects</h1>
   <p>Welcome to my Projects Page</p>
<p>These are some highligh projects you might have a look on it: </p>
<ul>
  <li>Web Applicant projects</li>
  <li>"For reference only"</li>

  </ul>
  <p></p>

</body>
   
     
<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%> 


